[submodule "dtl"]
	path = dtl
	url = https://github.com/cubicdaiya/dtl.git
[submodule "cppcodec"]
	path = cppcodec
	url = https://github.com/tplgy/cppcodec.git
[submodule "mpp"]
	path = mpp
	url = https://github.com/rockchip-linux/mpp.git
[submodule "build_pkg"]
	path = build_pkg
	url = https://github.com/rigaya/build_pkg.git
[submodule "clRNG"]
	path = clRNG
	url = https://github.com/clMathLibraries/clRNG.git
[submodule "librga"]
	path = librga
	url = https://github.com/airockchip/librga.git
